.search_bar_div {
  margin-top: 15%;
  text-align: center;
}


input {
  font-size: 200%;
  width: 40%;
}

@media screen and (max-width: 850px) {
  input {
    font-size: 160%;
    width: 90%;
  }

}
